.editora_index_wrapper {
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}

.editora_index_action{
    text-align:center;
    margin:24px 0;
    
}

.editora_index_info_wrapper {
    display: flex;   
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;
    /*margin: 24px;*/
    

}

.editora_index_content_wrapper {
    display:flex;
    justify-content:center;
    width: 33.33%;
    height: 100%;
    
}


.editora_index_content_img{
    margin-top:16px;
    margin-bottom:16px;
height:70%;
}
.editora_index_content_img img{
    height: 100%;
    max-width:80%;
}

.editora_index_content_nome {
    height: 15%;
    color: #9d9d9d;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
}

    .editora_index_links {
        height: 15%;
    }

    .editora_index_links a {
        color: #9d9d9d;
        font-size: 16px;
        text-decoration: none;
    }

.size_saver {
    width: 240px;
    height: 340px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background-color: #173F5F;
    padding: 16px;
    border: 1px solid black;
    margin:32px;
    border-radius: 8px;
    box-shadow: 3px 3px black;
}