body {
    font-family: 'Orbitron', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 16px;
    box-shadow: 2px -2px #888888;
    overflow: hidden;
    background:aqua;
}

.content_wrapper {
    display: flex;
    flex-direction:row;
    width: 100%;
    padding-bottom:24px;
}
.content_wrapper_img {
    /*width:33.33%;*/
    max-width: 33.33%;
    /*max-height: 350px;*/
}
    .content_wrapper_img img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

.content_wrapper_info {   
    display:flex;
    flex: 1;
    flex-direction:column;
    border-left: 1px solid red;
}
    .content_wrapper_info p {
        padding: 8px 16px 24px 8px;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .content_wrapper_info p:last-child{
        margin-bottom:0;
        padding-bottom: 0;
    }
    .content_wrapper_info p span {
        font-weight: bold;
    }

.content_wrapper_info_detail {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-bottom: 1px solid red;
}
.content_wrapper_sinopse {

}
    .content_wrapper_sinopse:first-child {
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    .content_wrapper_sinopse:last-child {
        
    }


    .content_wrapper_trailer {
        margin: 0;
        padding: 0 16px 0 0;
        width: 100%;
        height: 100%;
    }
.sidebar_nav {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    -webkit-transition: width 1s; /* Safari prior 6.1 */
    transition: width 1s;
    background-color: rgba(0, 0, 0,0.9);
}
    .sidebar_nav span{
        padding: 10px 10px;
    }


.sidebar-is-open {
    width: 150px; 
    opacity: 1;
}

#opt {
    position: absolute;
    top: 50px;
    right: 0;
    width: 20px;
    z-index: 9999999;
}
.blue {
    background-color: rgba(0,49,113,0.6);
}

.dark-blue {
    background-color: rgba(30,144,255,0.4);
}
#seriesDelailsH2{
    text-align:center;
}

.aux{
    margin-bottom:0;
}

