body {
    font-family: 'Orbitron', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 16px;
    box-shadow: 2px -2px #888888;
    overflow: hidden;
}

.content_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 24px;
    padding-right: 16px;
}
.content_wrapper_img {
    max-width: 33.33%;
    margin-right:16px;
}
    .content_wrapper_img img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

.content_wrapper_info {   
    display:flex;
    flex: 1;
    flex-direction:column;
    
    border-radius:8px;
    border:1px solid black;

}

    .content_wrapper_info p {
        padding: 8px 16px 24px 8px;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
       
    }
    .content_wrapper_info p:last-child{
        margin-bottom:0;
        padding-bottom: 0;
    }
    .content_wrapper_info p span {
        font-weight: bold;
    }

.content_wrapper_info_detail {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; 
}

    .content_wrapper_info_detail p {

    }

    .border-top-round {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

.border-bottom-round {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

    .content_wrapper_sinopse {
        }
    .content_wrapper_sinopse:first-child {
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    .content_wrapper_sinopse:last-child {
        
    }


    .content_wrapper_trailer {
        margin: 0;
        padding: 0 16px 0 0;
        width: 100%;
        height: 100%;
    }
.blue {
    background-color: rgba(101, 154, 240,0.6);
}

.dark-blue {
    background-color: rgba(30,144,255,0.4);
}
#seriesDelailsH2 {
    text-align: center;
    margin: 24px 0;
}

.aux{
    margin-bottom:0;
}

