.sidebar_nav {
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    -webkit-transition: width 1s; /* Safari prior 6.1 */
    transition: width 0.7s;
    /*background-color: rgba(0, 0, 0,0.9);*/
    background-color: #babec3;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: -3px 3px black;
}

.sidebar_nav span {
    margin: 10px 30px;
    display: list-item;
}
    .sidebar_nav span:first-child{
        margin-top: 40px;
    }
        .sidebar_nav span a{
            text-decoration:none;
            color:white;
            font-size:16px;
        }
            .sidebar_nav span a:hover {
                text-decoration: underline;
            }

     .sidebar-is-open {
        width: 200px;
        opacity: 1;
      }

#opt {
    position: fixed;
    top: 60px;
    right: 15px;
    width: 20px;
    z-index: 5;
}

#options {
    width: 30px;
    height: 30px;
}


