@model IEnumerable<TF_TI2_19269_19262.Models.Series>

@{
    ViewBag.Title = "Home Page";
}

<link href="~/CSS/startbootstrap-the-big-picture-gh-pages/css/the-big-picture.css" rel="stylesheet" />
<link href="~/CSS/MyCSS/MyStyleSheet.css" rel="stylesheet" />


<div style="text-align:center;padding-bottom:30px">
    <h1 style="padding:20px 0px 20px 0px; color:#ff0000;font-weight:bold;font-size:150px;text-shadow: 5px 5px black;">
        Series4All
    </h1>
    <div style="padding:0px 0px 30px 0px;font-weight:bold;color:#ff0000;text-shadow: 3px 3px black;">
        <p class="lead" style=" font-size:60px">
            O seu site de análise de séries!
        </p>
    </div>

</div>

<div style="display: flex;justify-content: space-evenly;">

    <div class="HomeBtn">
        @Html.ActionLink("Séries", "Index", "Series", null, new { @class = "HomeButn1" })
    </div>

    <div class="HomeBtn">
        @Html.ActionLink("Pessoas", "Index", "Pessoas", null, new { @class = "HomeButn1" })
    </div>

    <div class="HomeBtn">
        @Html.ActionLink("Editoras", "Index", "Editoras", null, new { @class = "HomeButn1" })
    </div>
</div>

