@model IEnumerable<TF_TI2_19269_19262.Models.Series>

@{
    ViewBag.Title = "Index";
}
<link href="~/CSS/MyCSS/seriesIndex.css" rel="stylesheet" />

<div class="series_index_wrapper container">
    <div class="series_index_action">
        <h2>Lista De Séries</h2>
    </div>
    <div class="series_index_content_wrapper col-md-12">

        @foreach (var item in Model)
        {<div class="col-md-4">
                <div class="series_index_content_card ">
                    <div class="series_index_content_img">
                        <a class="ax" href="~/Series/Details/@item.ID">
                            <img src="~/Imagens/@item.Foto" />
                        </a>
                    </div>

                    <div class="series_index_content_nome">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="opt">
    <img id="options" src="~/Imagens/options.png" alt="" width="20" height="20" />
</div>
<div class="sidebar_nav">
    <span>@Html.ActionLink("Voltar à Página Inicial", "../Home/Index")</span>

    @if (User.IsInRole("Administrador"))
    {
    <span>@Html.ActionLink("Adicionar Série", "Create")</span>
    }
</div>





